# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.vscode

# production
build

# code practice
/src/code_practice

# misc
.env
npm-debug.log*
vercel r*