#root, html, body {
  background-color: #d8d8d4;
}

.name {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.message-container{
  display: flex;
  flex-direction: column;
  border-style: solid;
  overflow-y: auto;
  flex: 10;
  width: 900px;
}

.input-area{
  display: flex;
  padding-top: 10px;
  flex: 0;
  width: 40%;
}

.message {
  display: flex;
  flex-direction: column;
  font-family: monospace; /* looks more like terminal/game */
  text-wrap: pretty;
  font-size: 20px;
  padding-left: 10px;
}

.book-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 16px; /* Adds space between items, adjust as needed */
}

.book-card {
  /*
    Calculates width to fit 4 items per line, accounting for the gap.
    100% / 4 = 25%. Subtract some space for the gap.
  */
  flex-basis: calc(25% - 16px);
  /* You can add other styling here (border, padding, etc.) */
  padding: 10px;
  
  text-align: center;
}